**학생 성적 예측 데이터**
===

Attention
===

데이터 설명 : 학생성적 예측 (종속변수 : G3)   
x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv   
y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv   
x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv   
x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv   
데이터 출처 :https://www.kaggle.com/datasets/ishandutta/student-performance-data-set (참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")


display(x_train.head())
display(y_train.head())

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [6]:
# x_train.info()

x_train.isnull().sum()
x_test.isnull().sum()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
import numpy as np

drop_col = ['StudentID']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

# 종속 변수
y_train_target = y_train['G3']


x_train_dum = pd.get_dummies(x_train_drop)
# x_train 과 칼럼이 같지 않으면 ERROR 발생
x_test_dum = pd.get_dummies(x_test_drop)[x_train_dum.columns]

# 훈련 셋, 테스트 셋 분리
xtr, xt, ytr, yt = train_test_split(x_train_dum, y_train_target)

# 모델 학습..
rf = RandomForestRegressor(random_state=42)
rf.fit(xtr, ytr)

y_validation_pred = rf.predict(xt)

# 모델 평가
## mse : mean_squared_error
## mae : mean_absolute_error
## mape : mean_absolute_percentage_error
## rmse : np.sqrt(mean_squared_error) -> 패키지 없으므로 산출 결과 print

# mse
print('validation mse : ', mean_squared_error(yt, y_validation_pred))

# mae
print('validation mae : ', mean_absolute_error(yt, y_validation_pred))

# mape
print('validation mape : ', mean_absolute_percentage_error(yt, y_validation_pred))

# rmse
print('validation rmse : ', np.sqrt(mean_absolute_percentage_error(yt, y_validation_pred)))

# r2
print('validation r2 score : ', r2_score(yt, y_validation_pred))

validation mse :  2.2754746666666668
validation mae :  0.8684450980392158
validation mape :  803760074673063.8
validation rmse :  28350662.684901454
validation r2 score :  0.8548910094847211